body {
    font-family: 'Roboto';
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    background-color: #1f2937;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;

}

li {
    padding: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    gap: 100px;
    height: 500px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;
    align-items: flex-start;
    height: 400px;
    width: 420px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: -10px;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    width: auto;
    height: 350px;
}

.hero-button {
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    border: 0px;
    color: #e5e7eb;
    padding-inline: 15px;
}


.info-box {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    justify-content: center;
    align-items: center;
}


.info-title {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: -100px;
}

.info-img {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.info {
    display: flex ;
    flex-direction: column;
    width: 150px;
    height: auto;
    margin: 50px;
}

.subtext {
    padding: 5px;
    text-align: center;
}

.quote {
    height: 500px;
    background-color: rgb(238, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote-box {
    width: 800px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.person {
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
}

.call-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.action {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    padding: 40px;
    gap: 100px;
    border-radius: 10px;
    width: 800px;
    color: #e5e7eb;
}
.top {
    color: rgb(245, 245, 245);
    font-style: normal;
    font-weight: 900;
    font-size: larger;
}

.call-button {
    border-radius: 5px;
    background-color: #3882f6;
    border-color: #e5e7eb;
    color: #e5e7eb;
    padding-inline: 20px;
    border: solid;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #1F2937;
    color: #e5e7eb;
}